---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Cover Image */
/*.pagebg {
  display: block;
  height:1080px;
  width:1920px;
  background-image: url('../default_2024-06-12_00-42-17-1000.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

  body {
    background-image: url('../default_2024-06-12_00-42-17-1000.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
