<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if page.background -%}
    <a class="pagebg">
      <img 
        style="display: block; 
        margin-left: auto;
        margin-right: auto;
        width: 50%;"
        src="https://theredstoneworld.net/img/redstoneworld1upper.png" 
        alt="Our logo">
      </img>
      <p style="text-align: center; text-decoration-line: none; font-size: 72px;">
        
      </p>
    </a>
  {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
