<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- if page.background -%}
    <a class="pagebg">
      <p style="text-align: center; text-decoration-line: none; font-size: 72px;">
        <br><br><br><br><br>Welcome!
        <br><br>Please Scroll Down
        <br>|
        <br>\/
      </p>
    </a>
  {%- endif -%}
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
